/* section_four content styles
================================================================== */
#section_four h1 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 80px;
}

#section_four #word-cloud {
    display: block;
    width: 992px;
    height: 500px;
    background-color: transparent !important;
    margin: 0 auto !important;
}